.Button {
  &__icon {
    border: none;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--active {
      background: #000;
    }
  }
  &__download {
    background: #219653;
    border: 1px solid #219653;
    box-sizing: border-box;
    height: 50px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 20px;
    line-height: 24px;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    img {
      margin-right: 20px;
    }
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  &__tag {
    border: none;
    padding: 5px 10px;
    background: #ffffff;
    border-radius: 8px;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
    margin: 10px;
  }
  &__scroll {
    position: fixed;
    z-index: 6;
    bottom: 40px;
    right: 40px;
  }
}
@media (max-width: 425px) {
  .Button {
    &__download {
      width: 50px;
      img {
        margin: 0;
      }
    }
    &__tag {
      background: #f2f2f2;
      border-radius: 8px;
      font-size: 14px;
      line-height: 17px;
      color: #828282;
      margin: 5px;
    }
  }
}
