.Appearance {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  &__column {
    margin-right: 20px;
  }
  &__column,
  &__grid {
    cursor: pointer;
  }
}

@media (max-width: 425px) {
  .Appearance {
    margin-top: 40px;
  }
}
