.Main {
  &__header {
    background: #000;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 90px;

    .Search {
      margin-top: 46px;
    }
  }
}

@media (max-width: 425px) {
  .Main {
    &__header {
      padding-top: 30px;
      padding-bottom: 50px;

      .Search {
        margin-top: 46px;
        &__keys {
          width: 100%;
          max-width: none;
          margin: 0;
          margin-top: 30px;
          overflow: hidden;
          flex-wrap: nowrap;
          justify-content: flex-start;
          &::after {
            content: "";
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 25%;
            background: linear-gradient(to right, transparent, #000);
          }
        }
      }
    }
  }
}
