.Main {
  &__header {
    background: #000;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 90px;

    .Search {
      margin-top: 46px;
    }
  }
}

@media (max-width: 425px) {
  .Main {
    &__header {
      padding-top: 30px;
      padding-bottom: 50px;

      .Search {
        margin-top: 46px;
      }
    }
  }
}
